<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-body">
            <form class="form-horizontal" (ngSubmit)="onAdd(f)" #f="ngForm">

              <div class="form-group">
                <label for="name" class="col-md-4 control-label">Username</label>
                <div class="col-md-6">
                  <input id="name" type="text" class="input btn-log" (ngModel)="addValue.name" name="name"  required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-md-4 control-label">Email</label>
                <div class="col-md-6">
                  <input id="email" type="email" class="input btn-log" (ngModel)="addValue.email" name="email"   required autofocus>
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="col-md-4 control-label">Password</label>
                <div class="col-md-6">
                  <input id="password" type="password" class="input btn-log" (ngModel)="addValue.password" name="password"   required autofocus>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                  <button type="submit" class="btn btn-primary"> Add User</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>